@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body{font-family: 'Cutive Mono', monospace;background:; font-size: ;}

#body_wrap{}

header{}
.header_wrap{}
    .main_menu{
        position:fixed;
        width:100%;
        z-index: 999;
    }
    .main_menu ul{
        display: block;
        text-align: center;
    }
    .main_menu li{
        display: inline-block;
    }
    .main_menu a{
        display: block;
        color:#f0f8ff;
        height:50px;
        line-height: 50px;
        font-size:20px;
        font-weight:bold;
        padding:10px 20px
    }



main{}
.main_wrap{}
.main_wrap section{}

#home{
    position:relative;
    background:#0f084d;
}

#home .bg img{
    width:100%;
    background:url('../img/full-moon1.png') no-repeat 50% 40%;
    background-attachment: fixed;
}

#home .txt{
    position:absolute;
    top:38%;
    left:50%;
    transform: translate(-50%);
    width:400px;
    height:320px;
    background:url('../img/logo_y_g.png') no-repeat;
    background-size:100%;
}
#home .txt h1{
    text-align: center;
    font-size: 60px;
    color:#f0f8ff;
}
.hide{
    display: none;
}

/*  INTRO  */
#intro{
    position:relative;
    background:#000;
}
#intro .img ul{
    position:absolute;
    top:20%;
    width:100%;
    height:500px;
}

#intro .img li{
    position:block;
    width:162px;height:163px;
}

#intro .img .moon1{
    position:absolute;
    top:18%;left:9%;
    opacity: 0;
}
#intro .img .moon2{
    position:absolute;
    top:17%; left:19%;
    opacity: 0;
}
#intro .img .moon3{
    position:absolute;
    top:17%; left:31%;
    opacity: 0;
}
#intro .img .moon4{
    position:absolute;
    top:18%; left:45%;
    opacity: 0;
}
#intro .img .moon5{
    position:absolute;
    top:18%; right:29%;
    opacity: 0;
}
#intro .img .moon6{
    position:absolute;
    top:18%; right:18%;
    opacity: 0;
}
#intro .img .moon7{
    position:absolute;
    top:18%; right:9%;
    opacity: 0;
}
#intro .desc{
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%);
    font-size:26px;
    line-height: 35px;
    text-align: center;
    color:#fff;
    opacity: 0;
}

/*

#intro .img .moon1{
    position:absolute;
    bottom:34%;left:9%;
    opacity: 0;
}
#intro .img .moon2{
    position:absolute;
    bottom:49%; left:19%;
    opacity: 0;
}
#intro .img .moon3{
    position:absolute;
    bottom:57%; left:31%;
    opacity: 0;
}
#intro .img .moon4{
    position:absolute;
    top:7%; left:45%;
    opacity: 0;
}
#intro .img .moon5{
    position:absolute;
    bottom:57%; right:29%;
    opacity: 0;
}
#intro .img .moon6{
    position:absolute;
    bottom:48%; right:18%;
    opacity: 0;
}
#intro .img .moon7{
    position:absolute;
    bottom:36%; right:9%;
    opacity: 0;
}
#intro .desc{
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%);
    font-size:26px;
    line-height: 35px;
    text-align: center;
    color:#fff;
    opacity: 0;
}
*/
#intro .fadein{
    animation: fadein 1s forwards;
}

@keyframes fadein{
    0%{opacity:0%}
    100%{opacity:100%}
}



#profile{
    background:#000 url('../img/myPhoto.jpeg') no-repeat center ;
    background-size:100%;
    position:relative;
}
#profile .ballon{
    position:absolute;
    top:40%;left:50%;
    transform: translate(-50%);
    width:300px;
    height:200px;
    background:#f0f8ff;
    text-align: center;
    border-radius: 10%;;
}
#profile .ballon:after{
    display: block;
    content:'';
    height:30px;
    width:30px;
    background:#f0f8ff;
    position:absolute;
    top:185px;
    left:135px;
    transform: rotate(45deg);

}


#myWork{}